<div id="comment-{{ comment.uuid }}" class="w-full text-sm text-gray-600 leading-relaxed bg-gray-50/50 border border-gray-100/50 p-4 rounded-xl">
    <div class="markdown-content">{{ comment.text }}</div>
    
    {% if request.user == comment.commented_by %}
    <div class="mt-3 pt-2.5 border-t border-gray-100 flex justify-end">
        <a hx-get="{% url 'comments:edit_comment' report.uuid comment.uuid %}" 
           hx-target="#comment-container-{{ comment.uuid }}"
           hx-swap="innerHTML" 
           class="text-[10px] text-[#226ce0] hover:underline font-bold cursor-pointer">
            Edit
        </a>
    </div>
    {% endif %}
</div>