<div id="comment-{{ comment.uuid }}" class="chat-bubble"><div class="markdown-content">{{ comment.text }}</div></div>

{% comment %} If the logged-in user is the author of the comment, show the edit link. {% endcomment %}
{% if request.user == comment.commented_by %}
<div class="chat-footer">
    <a href="{% url 'comments:edit_comment' report.uuid comment.uuid %}"
        hx-get="{% url 'comments:edit_comment' report.uuid comment.uuid %}" hx-target="#comment-container-{{ comment.uuid }}"
        hx-swap="innerHTML" class="text-xs text-[#226ce0] hover:underline cursor-pointer">Edit</a>
</div>
{% endif %}

{% comment %} {% if is_project_owner %}

<a href="{% url 'comments:toggle_comment_visibility' report.uuid comment.uuid %}"
    hx-delete="{% url 'comments:toggle_comment_visibility' report.uuid comment.uuid %}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#comment-container-{{ comment.uuid }}" hx-swap="outerHTML"
    class="text-xs text-red-500 hover:underline cursor-pointer">Delete</a>
{% endif %} {% endcomment %}